installer/corefiles/www/imgs/logodummy.psd
installer/corefiles/www/imgs/headerbar.psd
installer/corefiles/www/imgs/loginbg.psd
installer/corefiles/www/imgs/loginbild_513_150.psd
installer/corefiles/www/imgs/Loginbild_768x300.psd
