<html>

<head>
    <style>
        {{{common/pdfstyles}}}
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body>

<div class="main">

    <table style="text-align: center;width:100%;margin:10px;">
        <tr>
            <th>Date</th>
            <th>Hours</th>
            <th>Description</th>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <tr>
            <td>12.3.2023</td>
            <td>8</td>
            <td>Implementation of some features</td>
        </tr>
        <tr>
            <td>14.3.2023</td>
            <td>5</td>
            <td>Implementation of some other features</td>
        </tr>
        <tr>
            <td>16.3.2023</td>
            <td>2</td>
            <td>Meeting about features</td>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
        <tr>
            <td></td>
            <td>15</td>
            <td></td>
        </tr>
    </table>


</div>

</body>
</html>